{% extends "base.html" %} {% block content %}

<h2>Suba la imagen </h2>

<div>
    <form id="upload-file" method="post" enctype="multipart/form-data">
        <label for="imageUpload" class="upload-label">
            Subir
        </label>
        <input type="file" name="file" id="imageUpload" accept=".png, .jpg, .jpeg">
    </form>

    <div class="image-section" style="display:none;">
        <div class="img-preview">
            <div id="imagePreview">
            </div>
        </div>
        <div>
            <button type="button" class="btn btn-primary btn-lg " id="btn-predict">¡Predecir!</button>
        </div>
    </div>

    <div class="loader" style="display:none;"></div>

    <h3 id="result">
        <span> </span>
    </h3>
    <center><img style="margin:10px;" alt="" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.13Jf3xAwZZu-1_8mZSrQtwHaE8%26pid%3DApi&f=1" /></center>
    <center><p> En la agricultura, uno de los problemas recurrentes asociados al árbol del limón, son las plagas, las cuales pueden provocar algunos daños tales como, dar un fruto malo o matar el árbol de limón lo cual impacta directamente en los ingresos para los agricultores.</p></center>
    
{% endblock %}